.stone-container {
    position: absolute;
    width: 20px;
    height: 20px;

    border-radius: 11px;
    border: 1px solid gray;
    background-color: black;

    transform: translate(calc(-50% + 1px), calc(-50% + 1px));
}

.stone-container.emphasized {
    border: 1px solid red;
    z-index: 101;
}

.stone-outer {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.stone-outer.hidden {
    display: none;
}